NEXT_PUBLIC_APP_NAME="CampusFlow"

# Neon PostgreSQL — get from https://neon.tech
DATABASE_URL=""
DIRECT_URL=""

# NextAuth — generate with: openssl rand -base64 32
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Pusher Realtime (Get from pusher.com)
PUSHER_APP_ID=""
NEXT_PUBLIC_PUSHER_KEY=""
PUSHER_SECRET=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
